.DS_Store
__pycache__
*.pyc
env
runtime
.idea
output
logs
reference
GPT_weights
SoVITS_weights
TEMP
resource/
dataset/
venv*/
tools/damo_asr/models/
tools/uvr5/uvr5_weights/
# resource/otto/
received_files/